body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
img{
    display: block;
    width: 100%;
}
a{
    display: block;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.my-col-10{
    width: 88%;
}
.my-col-2{
    width: 12%;
}
#small-logo{
    display: none;
}
#header .row{
    height: 100%;
}
#header .img-container{
    width: 200px;
    height: 100%;
}
.my-bg-dark{
    background-color: rgba(0, 0, 0, 0.308);
}
.breadcrumb-divider{
    font-size: 0.8em;
}
.offcanvas{
    width: 800px !important;
}
#main-content .form-control{
    background-color: white;
}
#header .icon{
    font-size: 1.2em;
    color: black;
}
#header .fa-solid.fa-bell{
    font-size: 1.2em;
    color: goldenrod;
}
input.form-control{
    background-color: rgba(128, 128, 128, 0.103);
}
#sidebar i {
    font-size: 1.5em;
    width: 30px;
}
#sidebar a{
    color: white;
    text-decoration: none;
}
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: #f8f9fa;
}
header{
    width: 100%;
    height: 70px;
}
main{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
}
#sidebar li:hover, .bottom-sidebar:hover{
    background-color: rgba(255, 255, 255, 0.171);
}
.name-width{
    width: 60%;
}
.classe{
    padding-left: 5px;
}
#sidebar{
    width: 150px;
    height: 100%;
    background-color: #0f233d;
    background-image: url("../img/sidebar-bg.png");
    /* overflow: hidden; */
}
#main-content{
    width: calc(100% - 150px);
    overflow-y: auto;
}
.avatar-container{
    width: 30px;
}
/* media */
@media screen and (max-width:992px){
    #header .img-container{
        width: 80px;
    }
    #small-logo{
        display: block;
    }
    #big-logo{
        display: none;
    }
    #sidebar{
        width: 70px;
    }
    #home, #stats, #signal, #engine{
        display: none;
    }
    #main-content{
        width: calc(100% - 70px);
    }
    .my-justify-center{
        justify-content: center !important;
    }
    #header .icone{
        display: none;
    }
}
@media screen and (max-width:576px){
    .data-inizio, .roi{
        display: none;
    }
    .name-width{
        width: 33%;
    }
    #symbol{
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: flex-start;
    }
    .classe{
        padding-left: 0;
    }
}
